<div
  class="z-slide"
  th:fragment="featured"
  th:if="${theme.config.post.featured.posts != null and not #lists.isEmpty(theme.config.post.featured.posts)}"
>
  <div
    th:replace="~{modules/home-widgets/slide-widget-base::header(${theme.config.post.featured.title ?: '精选文章'})}"
  ></div>

  <div class="z-slide-body">
    <div class="slide-list" id="slide-scroll-container">
      <th:block th:each="postName : ${theme.config.post.featured.posts}">
        <th:block th:with="post = ${postFinder.getByName(postName) ?: null}">
          <div th:if="${post != null}" th:replace="~{modules/home-widgets/slide-widget-base::post-item(${post})}"></div>
        </th:block>
      </th:block>
    </div>

    <div th:replace="~{modules/home-widgets/slide-widget-base::footer('slide-scroll-container')}"></div>
  </div>

  <div th:replace="~{modules/home-widgets/slide-widget-base::script('slide-scroll-container')}"></div>
</div>
