.author-capsule {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  color: var(--c-text-2);
  font-size: 0.875rem;
  text-decoration: none;
  transition: all 0.2s;

  &:hover {
    color: var(--c-primary);
  }

  img {
    width: 1.25rem;
    height: 1.25rem;
    border-radius: 50%;
    object-fit: cover;
  }
}
