$breakpoint-mobile: 768px !default;

#z-sidebar {
	display: flex;
	flex-direction: column;
	color: var(--c-text-2);
	background-color: var(--c-bg);

	&:hover {
		color: currentcolor;
	}

	@media (max-width: $breakpoint-mobile) {
		position: fixed;
		inset-inline-start: 0;
		width: 320px;
		max-width: 100%;
		background-color: var(--ld-bg-blur);
		backdrop-filter: blur(0.5rem);
		color: currentcolor;
		transform: var(--transform-start-far);
		transition: transform 0.2s;
		z-index: 100;

		&.show {
			box-shadow: 0 0 1rem var(--ld-shadow);
			transform: none;
		}
	}
}

#z-sidebar-bgmask {
	position: fixed;
	inset: 0;
	background-color: #0003;
	transition: opacity 0.2s;
	z-index: 100;

	&.v-enter-from,
	&.v-leave-to {
		opacity: 0;
	}

	@media (min-width: $breakpoint-mobile) {
		display: none;
	}
}

.sidebar-nav {
	flex-grow: 1;
	padding: 0 5%;
	font-size: 0.9em;

	h3 {
		margin: 2em 0 1em 1em;
		font: inherit;
		color: var(--c-text-2);
	}

	li {
		margin: 0.5em 0;
	}
}

.sidebar-nav-item {
	display: flex;
	align-items: center;
	gap: 0.5em;
	padding: 0.5em 1em;
	border-radius: 0.5em;
	transition: all 0.2s;

	&:hover,
	&.router-link-active {
		background-color: var(--c-bg-soft);
		color: var(--c-text);
	}

	&.router-link-active::after {
		content: "â¦";
		width: 1em;
		text-align: center;
		color: var(--c-text-3);
	}

	> .iconify {
		font-size: 1.5em;
	}

	> .nav-text {
		flex-grow: 1;
	}

	> .external-tip {
		opacity: 0.5;
		font-size: 1em;
	}
}

.search-btn {
	opacity: 0.5;
	margin: 1rem 0;
	outline: 2px solid var(--c-border);
	outline-offset: -2px;
	cursor: text;

	&:hover {
		opacity: 1;
		outline-color: transparent;
		background-color: transparent;
	}
}

.sidebar-footer {
	--gap: clamp(0.5rem, 3vh, 1rem);

	display: grid;
	gap: var(--gap);
	padding: var(--gap);
	font-size: 0.8em;
	text-align: center;
	color: var(--c-text-2);
}

.theme-toggle {
	.toggle-btn {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 0.5em;
		padding: 0.5em 1em;
		border-radius: 0.5em;
		background-color: var(--c-bg-soft);
		transition: all 0.2s;

		&:hover {
			background-color: var(--c-bg-3);
		}
	}

	.light-icon {
		display: inline-block;
	}

	.dark-icon {
		display: none;
	}

	.dark & {
		.light-icon {
			display: none;
		}

		.dark-icon {
			display: inline-block;
		}
	}
}

.social-icons {
	display: flex;
	justify-content: center;
	gap: 0.8em;

	a {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 2em;
		height: 2em;
		border-radius: 0.5em;
		transition: all 0.2s;

		&:hover {
			background-color: var(--c-bg-soft);
			color: var(--c-primary);
		}
	}
}
