.z-slide {
	margin: 1rem;

	&:hover .at-slide-hover {
		opacity: 1;
	}
}

.at-slide-hover {
	opacity: 0;
	transition: opacity 0.2s;
}

.z-slide-header {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	gap: 2rem;
	overflow: hidden;
	height: 3rem;
	margin-bottom: -0.2rem;
	mask-image: linear-gradient(#FFF, transparent);
	color: var(--c-text-3);

	>.title {
		font-size: 3rem;
		font-weight: bold;
		line-height: 1;
	}
}

.z-slide-body {
	--fadeout-width: 1.5rem;

	position: relative;
	overflow: hidden;
	mask-image: linear-gradient(to var(--end), transparent, #FFF var(--fadeout-width), #FFF calc(100% - var(--fadeout-width)), transparent);
	cursor: grab;
	user-select: none;
}

.carousel-action {
	position: absolute;
	top: 50%;
	padding: 0.5em 0.2em;
	font-size: 1.5em;
	transform: translateY(-50%);
	transition: all 0.2s;

	&.prev { inset-inline-start: 1rem; }
	&.next { inset-inline-end: 1rem; }
}

.slide-list {
	display: flex;
	scroll-snap-type: x mandatory;

	> .slide-item {
		flex-shrink: 0;
		position: relative;
		overflow: hidden;
		width: max(12rem, 28%);
		max-width: 80%;
		aspect-ratio: 1.77;
		margin: 0 min(0.5em, 1%);
		border-radius: 0.5rem;
		scroll-snap-align: center;
		scroll-snap-stop: always;

		> .cover {
			display: block;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}

		> .info {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: space-evenly;
			position: absolute;
			opacity: 0;
			inset: 0;
			padding: 1em;
			backdrop-filter: brightness(0.8) saturate(10) contrast(0.8) blur(2em);
			text-align: center;
			color: white;
			transition: opacity 0.2s;

			> .title {
				text-wrap: balance;
			}

			> .desc {
				opacity: 0.5;
				font-size: 0.8em;
			}
		}

		&:hover > .info {
			opacity: 1;
		}
	}
}
