<aside
  th:fragment="sidebar"
  id="z-sidebar"
  th:classappend="${theme.config.header.menu_icon_color_invert == true ? 'menu-icon-invert' : ''}"
>
  <th:block th:replace="~{modules/header :: header}" />

  <nav class="sidebar-nav scrollcheck-y">
    <!-- 搜索组件 -->
    <th:block th:replace="~{modules/sidebar-widgets/search-button :: search-button}" />
    <!-- 导航菜单组件 -->
    <th:block th:replace="~{modules/sidebar-widgets/nav-menu :: nav-menu}" />
  </nav>

  <footer class="sidebar-footer">
    <!-- 用户认证组件 -->
    <th:block th:replace="~{modules/sidebar-widgets/user-auth :: user-auth}" />
    <!-- 主题模式切换组件 -->
    <th:block th:replace="~{modules/sidebar-widgets/theme-toggle :: theme-toggle}" />
    <!-- 社交图标组件 -->
    <th:block th:replace="~{modules/sidebar-widgets/social-icons :: social-icons}" />
  </footer>
</aside>
