<!doctype html>
<html
  xmlns:th="https://www.thymeleaf.org"
  th:replace="~{modules/layout :: html(content = ~{::content}, showAside = true, pageTitle = ${category.spec.displayName})}"
>
  <th:block th:fragment="content">
    <th:block th:if="${theme.config.style.switch_category_layout == false}">
      <th:block
        th:replace="~{modules/category-layout-old :: layout(category=${category}, posts=${posts}, thumbnail=${thumbnail})}"
      />
    </th:block>
    <th:block th:if="${theme.config.style.switch_category_layout == true}">
      <th:block
        th:replace="~{modules/category-layout-new :: layout(category=${category}, posts=${posts}, thumbnail=${thumbnail})}"
      />
    </th:block>
  </th:block>
</html>
