:root {
	--font-basic: "InterVariable", system-ui, -apple-system, "Microsoft YaHei", "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
	--font-serif: "Noto Serif SC", "Songti SC", "SimSun", "Times New Roman", Times, serif;
	--font-creative: "Alimama FangYuanTi VF", var(--font-basic);
	--font-logo: "Alimama FangYuanTi VF", var(--font-basic);
	--font-stroke-free: "Inter", "Microsoft YaHei", "MiSans", system-ui, sans-serif;
	--font-monospace: "JetBrains Mono", "Cascadia Code", "Consolas", "Menlo", "Monaco", monospace;

	@media (max-resolution: 1.2dppx) {
		--font-basic: "InterVariable", system-ui, sans-serif;
	}
}
