:root {
	--font-basic: "InterVariable", "Noto Sans SC-Local", ui-sans-serif, "sans-serif", "Noto Sans SC", system-ui, sans-serif;
	--font-serif: "Noto Serif SC-Local", "Noto Serif SC", serif;
	--font-creative: "InterVariable", "Noto Sans SC-Local", "Noto Sans SC", system-ui, sans-serif;
	--font-stroke-free: "Inter", "Microsoft YaHei", "MiSans", system-ui, sans-serif;
	--font-monospace: ui-monospace, "JetBrains Mono", "Cascadia Code", "Consolas", "monospace", var(--font-basic), monospace;

	@media (max-resolution: 1.2dppx) {
		--font-basic: "InterVariable", system-ui, sans-serif;
	}
}
