$breakpoint-mobile: 768px !default;
$breakpoint-widescreen: 1080px !default;

// 一部分具有卡片样式的组件复用了此类
.card {
	display: block;
	overflow: hidden;
	overflow: clip;
	border-radius: 0.5em;
	box-shadow: 0 0.1em 0.2em var(--ld-shadow);
	background-color: var(--ld-bg-card);
	transition: all 0.2s;

	&:hover {
		box-shadow: 0 0.5em 1em var(--ld-shadow);
		transform: translateY(-2px);
	}
}

.gradient-card {
	position: relative;
	border-radius: 0.5rem;
	z-index: 0;

	&::before {
		content: "";
		position: absolute;
		opacity: 0;
		inset: 0;
		border: 2px solid transparent;
		border-radius: inherit;
		background: linear-gradient(var(--c-bg-a80), var(--c-bg-a80)) padding-box, linear-gradient(45deg, var(--c-accent), var(--c-primary-soft)) border-box;
		transition: opacity 0.2s;
		z-index: -1;
	}

	&:hover, &.active {
		color: var(--c-text-1);

		&::before {
			opacity: 1;
		}
	}
}

.mobile-only {
	display: none;

	@media (max-width: $breakpoint-mobile) {
		display: revert;
		overflow: hidden;
	}
}

.widescreen-only {
	display: none;

	@media (min-width: $breakpoint-widescreen) {
		display: revert;
	}
}

.proper-height {
	min-height: 70vh;
}
